nav {
  background-color: deepskyblue;
  text-transform: uppercase;
  margin-bottom: 3em;
  color: white; }
  nav ul {
    display: table;
    width: 100%;
    table-layout: fixed; }
    nav ul li {
      display: table-cell;
      text-align: center; }
      nav ul li a {
        padding: 1em;
        display: block; }

.border ul {
  border-spacing: .5em 1em; }

.border li {
  border: 2px solid white;
  border-radius: .5em; }

.center {
  background-color: transparent;
  color: salmon; }
  .center li {
    border: 1px solid deepskyblue;
    width: 15rem; }
  .center ul {
    width: auto;
    margin: 0 auto; }
